@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

        h1,
        h2 {
            /*font-family: 'Alex Brush', cursive;*/
            font-family: 'fontWavy', cursive;
        }

        body {
            font-family: 'Comic Neue', cursive;
        }

        h3,
        h4,
        h5,
        h6 {
            font-family: 'Comic Neue', cursive;
        }

        p {
            font-size: 18px;
        }

        h6 {
            font-size: 18px;
        }

        @font-face {
            font-family: fontWavy;
            src: url(https://arif.app/marsaarif/fonts/ChopinScript.ttf);
        }

        .site-footer .footer-top,
        .site-footer .footer-bottom {
            background-color: #eeeeee;
        }

        .flipThisImg{
            cursor: pointer;
        }

        .overlay-blue-light:after,
        .overlay-blue-middle:after,
        .overlay-blue-dark:after {
            background-color: #080807;
            /*background-image: linear-gradient(280deg,#3567ff 26%,#f2295b 100%);*/
            /*background-image: linear-gradient(280deg,#f0c7ae78 26%,#ede7f673 100%);*/
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            /*height: 100%;*/
            height: 100vh;
        }

        .bg-main {
            /*background: #eae8dc!important;*/
            background: #d7cae1 !important;
            overflow: hidden;
        }

        .btnColor {
            /*background: #3184a2!important; background-image: linear-gradient(to bottom right,#3184a2 0,#3184a2 50%,#4091af 100%)!important;*/
            background: #c8a2c8 !important;
            background-image: linear-gradient(to bottom right, #c8a2c8 0, #c8a2c8 50%, #dd83dd 100%) !important;
        }

        .themeWeb {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            box-shadow: rgb(206 206 204 / 26%) 0px 0px 25px 5px;
            background-image: url(https://marsa.arif.app/images/bg1.webp);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            padding: 0px 0px !important;
            margin-bottom: 0px !important;
            /*border-radius: 50px;*/
        }

        .boxedTheme {
            /*padding: 0 70px;*/
            /*width: 90%;*/
            width: 60%;
            /*width: 55%;*/
            margin-left: auto;
            margin-right: auto;
            /*background: #ede7f6!important;*/
            background: #d7cae1 !important;
        }

        .btnSong {
            background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
            /*background: transparent;*/
            border-color: #ED0F5F;
            border-radius: 20px;
            border-style: solid;
            border-width: 0;
            bottom: 53%;
            box-shadow: 2px 2px 12px -5px #000000;
            color: #efbb20;
            cursor: pointer;
            display: none;
            height: 40px;
            line-height: 26px;
            margin: 0;
            position: fixed;
            right: 15px;
            text-align: center;
            width: 40px;
            z-index: 999;
        }

        .btnSong i {
            /*color: #3184a2;*/
            color: #c8a2c8;
        }

        .fit_pic {
            width: 100% !important;
            height: 200px !important;
            object-fit: cover !important;
        }

        .fit_pic_cover {
            width: 170px !important;
            max-width: 170px !important;
            height: 170px !important;
            object-fit: cover !important;
            border-radius: 100% !important;
        }

        @media only screen and (max-width: 500px) {
            .fit_pic_cover {
                width: 150px !important;
                max-width: 150px !important;
                height: 150px !important;
                object-fit: cover !important;
                border-radius: 100% !important;
            }
        }

        .fit_pic_mempelai {
            width: 150px !important;
            max-width: 150px !important;
            height: 150px !important;
            object-fit: cover !important;
            border-radius: 100% !important;
            border: 4px solid rgb(235 242 232);
            box-shadow: rgb(181 158 122 / 50%) 0px 1px 2px 0px, #a39696 0px 1px 8px 0px;
        }

        @media only screen and (max-width: 500px) {
            .fit_pic_mempelai {
                width: 150px !important;
                max-width: 150px !important;
                height: 150px !important;
                object-fit: cover !important;
                border-radius: 100% !important;
                border: 4px solid rgb(235 242 232);
                box-shadow: rgb(181 158 122 / 50%) 0px 1px 2px 0px, #a39696 0px 1px 8px 0px;
            }
        }

        body.modal-opened {
            overflow: hidden;
        }

        .mapGoogle iframe {
            width: 100% !important;
            height: 450px !important;
        }

        .navMobile {
            width: 58%;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        .videoPreWedding iframe {
            width: 100% !important;
        }

        .site-footer.style1 .footer-bottom {
            padding: 35px 0 85px 0;
        }

        .text-khusus{
            font-size: 22px;
        }

        .t-tipe1{
            font-family: 'Great Vibes', cursive;
        }
        .t-tipe2{
            font-family: 'Alex Brush', cursive;
        }

        .modal-undangan{
            top: 30px;
        }

        @media only screen and (max-width: 767px) {
            .site-footer.style1 .footer-bottom {
                padding: 35px 0 100px 0;
            }

            .modal-undangan{
                top: 1px;
            }

            .text-khusus{
                font-size: 34px;
            }

            .boxedTheme {
                /*padding: 0 15px;*/
                width: 100%;
            }

            .themeWeb {
                padding: 0px 0px !important;
                margin-bottom: 15px !important;
            }

            #home {
                margin-bottom: 15px;
            }

            .navMobile {
                width: 90%;
            }

            .imageTop {
                left: -250px !important;
                top: -190px !important;
                transform: scale(.5) translateX(0%) rotate(10deg) !important;
            }

            .imageTopRight {
                right: -300px !important;
                top: -195px !important;
                transform: scale(.5) translateX(0%)rotate(359deg) !important;
            }

            .imageBtm {
                right: -270px !important;
                bottom: -190px !important;
                transform: scale(.5) translateX(0%) rotate(200deg) !important;
            }

            .imageBtmLeft {
                left: -325px !important;
                bottom: -220px !important;
                transform: scale(.5) rotate(171deg) !important;
            }
        }

        .borderStyle {
            padding: 120px 20px;
            box-shadow: rgb(206 206 204 / 26%) 0px 0px 25px 5px;
            overflow: hidden;
        }

        .borderStyle:before {
            content: "";
            background-image: url(https://marsa.arif.app/images/bawah.webp);
            position: absolute;
            left: 0;
            width: 100%;
            height: 86px;
            background-size: 100%;
            background-repeat: no-repeat;
            bottom: -1px;
            background-position: bottom;
            z-index: 99;
        }

        .borderStyle:after {
            /* content: ""; position: absolute !important; z-index: 100; top: 0; right: 0; border-left: 40px solid; border-bottom: 40px solid; -moz-border-radius: 0 0 0 50px; -webkit-border-radius: 0 0 0 50px; border-radius: 0 0 0 50px;*/
            content: "";
            background-image: url(https://marsa.arif.app/images/atas.webp);
            position: absolute;
            left: 0;
            width: 100%;
            height: 86px;
            background-size: 100%;
            background-repeat: no-repeat;
            top: -1px;
            background-position: top;
            z-index: 99;
        }

        /*.borderStyle .row:before { content: ""; position: absolute !important; z-index: 100; bottom: 0; left: 0; border-bottom: 40px solid; border-left: 40px solid; -moz-border-radius: 0 0 50px 0; -webkit-border-radius: 0 0 50px 0; border-radius: 0 50px 0 0; } .borderStyle .row:after { content: ""; position: absolute !important; z-index: 100; bottom: 0; right: 0; border-bottom: 40px solid; border-right: 40px solid; -moz-border-radius: 0 0 0 50px; -webkit-border-radius: 0 0 0 50px; border-radius: 50px 0 0 0; }*/
        .dlab-bnr-inr.dlab-bnr-inr-shap:before {
            content: "";
            background-image: url(https://marsa.arif.app/images/bawah.webp);
            position: absolute;
            left: 0;
            width: 100%;
            height: 86px;
            background-size: 100%;
            background-repeat: no-repeat;
            bottom: -1px;
            background-position: bottom;
            z-index: 99;
        }

        .imageTop {
            position: absolute;
            left: -200px;
            top: -140px;
            margin-bottom: -10px;
            display: block;
            content: '';
            background: url(https://marsa.arif.app/images/35f084b635c11b514408b555d6f07b9a.webp) no-repeat;
            height: 720px;
            width: 720px;
            transform: scale(.7) translateX(0%) rotate(10deg);
            opacity: .8;
            /*margin-top: -25px;*/
            /*border-radius: 50px 0 0 0;*/
            /*-moz-animation: moveEfek 2s infinite; -webkit-animation: moveEfek 2s infinite; animation: moveEfek 2s infinite; transform: translateX(0%);*/
        }

        .imageBtm {
            position: absolute;
            right: -235px;
            bottom: -105px;
            display: block;
            content: '';
            background: url(https://marsa.arif.app/images/35f084b635c11b514408b555d6f07b9a.webp) no-repeat;
            height: 720px;
            width: 720px;
            transform: scale(.7) translateX(0%) rotate(200deg);
            opacity: .8;
        }

        .imageBtmLeft {
            position: absolute;
            left: -287px;
            bottom: -173px;
            display: block;
            content: '';
            background: url(https://marsa.arif.app/images/bg-bunga1.webp) no-repeat;
            height: 720px;
            width: 720px;
            transform: scale(.7) rotate(171deg);
            opacity: .8;
        }

        .imageTopRight {
            position: absolute;
            right: -285px;
            top: -131px;
            display: block;
            content: '';
            background: url(https://marsa.arif.app/images/bg-bunga2.webp) no-repeat;
            height: 720px;
            width: 720px;
            transform: scale(.7) translateX(0%)rotate(359deg);
            opacity: .8;
        }

        #content {
            width: 100%;
            height: 100%;
            left: 0;
            overflow: hidden;
            position: absolute;
        }

        #snowflake {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        .snowRoll {
            position: absolute;
            opacity: 0;
            -webkit-animation-name: mysnow;
            -webkit-animation-duration: 20s;
            -moz-animation-name: mysnow;
            -moz-animation-duration: 20s;
            height: 80px;
        }

        @-webkit-keyframes mysnow {
            0% {
                bottom: 100%;
            }

            50% {
                -webkit-transform: rotate(1080deg);
            }

            100% {
                -webkit-transform: rotate(0deg) translate3d(50px, 50px, 50px);
            }
        }

        @-moz-keyframes mysnow {
            0% {
                bottom: 100%;
            }

            50% {
                -moz-transform: rotate(1080deg);
            }

            100% {
                -moz-transform: rotate(0deg) translate3d(50px, 50px, 50px);
            }
        }

        .bounceArrow {
            -moz-animation: bounceArrow 2s infinite;
            -webkit-animation: bounceArrow 2s infinite;
            animation: bounceArrow 2s infinite;
        }

        @keyframes bounceArrow {

            0%,
            20%,
            50%,
            80%,
            100% {
                transform: translateY(0);
            }

            40% {
                transform: translateY(-30px);
            }

            60% {
                transform: translateY(-15px);
            }
        }

        @keyframes moveEfek {
            0% {
                transform: rotate(0deg) translate(-15px) rotate(0deg);
            }

            100% {
                transform: rotate(360deg) translate(-15px) rotate(-360deg);
            }
        }

        .fa-spin-sync {
          -webkit-animation: fa-spin-sync 2s infinite linear;
          animation: fa-spin-sync 2s infinite linear;
        }

        @-webkit-keyframes fa-spin-sync {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes fa-spin-sync {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

    #video-container {
        line-height: 0;
    }

    #qr-video{
        width: 54vw;
    }

    @media only screen and (max-width: 767px) {
        #qr-video{
            width: 90vw;
        }
    }
    #video-container .scan-region-highlight-svg,
    #video-container .code-outline-highlight {
        stroke: #c8a2c8 !important;
    }
